<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magik.mapper.user.UserMapper">
  <select id="getUserById" resultType="User">
    select *
    from user
    where userId=#{id}
  </select>
  <insert id="createUser">
    insert into user(userId,userName,password,avatar,gender) values (#{userId},#{userName},#{password},#{avatar},#{gender})
  </insert>
  <insert id="setUserRole">
    insert into user_role(roleId,userId) values
    <foreach collection="list" separator="," item="item">
      (#{item.roleId},#{item.userId})
    </foreach>
  </insert>
  <delete id="deleteUserRole">
    delete from user_role where userId=#{userId}
  </delete>
  <resultMap id="userResultMap" type="User">
    <id property="userId" column="userId"></id>
    <result property="userName" column="userName"></result>
    <result property="createTime" column="createTime"></result>
    <result property="updateTime" column="updateTime"></result>
    <result property="avatarUrl" column="url"></result>
    <collection property="role"
                ofType="Role"
                select="com.magik.mapper.user.UserMapper.getUserRole" column="userId"></collection>
  </resultMap>
  <select id="getUserList" resultType="User" resultMap="userResultMap">
    select *
    from user
    left join file as f on f.id = user.avatar
  </select>
  <select id="getUserAvatar">
    select f.url
    from file as f
    left join user as u on u.avatar
    where u.userId=#{userId}
  </select>
  <select id="getUserRole" resultType="Role">
    select *
    from user_role as ur
    left join role as r on r.id = ur.roleId
    where ur.userId=#{userId}
  </select>
  <delete id="deleteUser">
    delete from user where userId=#{userId}
  </delete>
  <update id="updateUser">
    update user set userName = #{userName},password=#{password},gender=#{gender},avatar=#{avatar} where userId=#{userId}
  </update>
</mapper>