<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magik.mapper.menu.MenuMapper">
  <insert id="createMenu">
    insert into menu(id,parentId,title,path,redirect,icon,component,meta,sort)
    values(#{id},#{parentId},#{title},#{path},#{redirect},#{icon},#{component},#{meta},#{sort})
  </insert>

  <resultMap id="menuResultMap" type="Menu">
    <id property="id" column="id"></id>
    <result property="component" column="component"></result>
    <result property="redirect" column="redirect"></result>
    <result property="title" column="title"></result>
    <result property="createTime" column="createTime"></result>
    <result property="updateTime" column="updateTime"></result>
    <result property="icon" column="icon"></result>
    <result property="meta" column="meta"></result>
    <result property="path" column="path"></result>
    <collection property="children"
                ofType="Menu"
                select="com.magik.mapper.menu.MenuMapper.getChildrenMenu"
                column="{parentId=id}"></collection>
  </resultMap>
  <select id="getMenuList" resultMap="menuResultMap">
    select * from menu
    where parentId= "-1" and id!="-1"
    order by sort asc
  </select>

  <resultMap id="childrenMenuResultMap" type="Menu">
    <id property="id" column="id"></id>
    <result property="parentId" column="parentId"></result>
    <result property="component" column="component"></result>
    <result property="redirect" column="redirect"></result>
    <result property="title" column="title"></result>
    <result property="createTime" column="createTime"></result>
    <result property="updateTime" column="updateTime"></result>
    <result property="icon" column="icon"></result>
    <result property="meta" column="meta"></result>
    <result property="path" column="path"></result>
    <collection property="children"
                ofType="Menu"
                select="com.magik.mapper.menu.MenuMapper.getChildrenMenu"
                column="{parentId=id}"></collection>
  </resultMap>
  <select id="getChildrenMenu" resultMap="childrenMenuResultMap">
    select *
    from menu
    where parentId=#{parentId}
    order by `sort` asc
  </select>
  <delete id="deleteMenuById">
    delete from menu where id=#{id}
  </delete>

  <resultMap id="roleMenuResultMap" type="Menu">
    <id property="id" column="id"></id>
    <result property="component" column="component"></result>
    <result property="parentId" column="parentId"></result>
    <result property="redirect" column="redirect"></result>
    <result property="title" column="title"></result>
    <result property="createTime" column="createTime"></result>
    <result property="updateTime" column="updateTime"></result>
    <result property="icon" column="icon"></result>
    <result property="meta" column="meta"></result>
    <result property="path" column="path"></result>
    <collection property="children"
                ofType="Menu"
                select="com.magik.mapper.menu.MenuMapper.getRoleMenuChild"
                column="{parentId=id}"></collection>
  </resultMap>
  <select id="getUserMenu" resultMap="roleMenuResultMap">
    select * from menu
    where parentId= "-1" and id!="-1" and id in(
    select distinct(ANY_VALUE(m.id)) as id
    from user as u
    left join user_role ur on u.userId = ur.userId
    left join role_menu as rm on ur.roleId = rm.roleId
    left join menu m on m.id = rm.menuId
    left join role on role.id = rm.roleId
    where u.userId = 110 and m.id is not null
    )
    order by sort asc
  </select>
  <select id="getRoleMenuChild" resultMap="roleMenuResultMap">
    select *
    from menu
    where parentId=#{parentId} and id in(
      select distinct(ANY_VALUE(m.id)) as id
      from user as u
             left join user_role ur on u.userId = ur.userId
             left join role_menu as rm on ur.roleId = rm.roleId
             left join menu m on m.id = rm.menuId
             left join role on role.id = rm.roleId
      where u.userId = 110 and m.id is not null
      )
    order by `sort` asc
  </select>
</mapper>