@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {

}

body,html {
  color: #000;
  width: 100%;
  height: 100%;
}
.ant-layout-sider,.ant-layout-header,.ant-layout-footer{
  background: #fff!important;
}
.card{
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}
.table-box{
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  flex-direction: column;
}
.table-box .table-container{
  flex: 1;
  overflow-y: hidden;
}

.table-box .table-container .ant-spin-nested-loading,
.table-box .table-container .ant-spin-container,
.table-box .table-container .ant-table,
.table-box .table-container .ant-table-container,
.table-box .table-container .ant-table-wrapper{
  height: 100%;
}
.table-box .table-container .ant-table-body{
  height: calc(100% - 50px);
  overflow-y: scroll;
}
